<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- adicionar link css -->
</head>
<body>
    <header>
        <h1>Sistema de Controle de Frequência</h1>
    </header>
    <main>
        <!-- O conteudo principal de cada página será inserido aqui -->
         {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 - Projeto Integrador - Univesp</p>
    </footer>
</body>
</html>