{% extends "base.html" %}

{% block title %}Cadastrar Funcionário{% endblock %}

{% block content %}
    <h2>Novo Funcionário</h2>

    <form method="post">
        <label for="nome">Nome Completo:</label><br>
        <input type="text" name="nome" required style="width: 300px;"><br><br>

        <label for="siape">Matrícula SIAPE:</label><br>
        <input type="text" name="siape" required><br><br>

        <label for="setor">Setor:</label><br>
        <select name="setor_id" required>
            {% for setor in setores %}
                <option value="{{ setor.id }}">{{ setor.nome }} - {{ setor.chefia_nome }}</option>
            {% endfor %}
        </select><br><br>

        <label for="jornada">Jornada:</label>
        <input type="text" name="jornada" placeholder="Ex: 40h"><br><br>

        <label for="escala">Escala:</label>
        <input type="text" name="escala" placeholder="Ex: 12x36"><br><br>

        <label>Trabalho Remoto Integral?</label>
        <select name="remoto_integral" id="">
            <option value="NÂO">NÃO</option>
            <option value="SIM">SIM</option>
        </select><br><br>

        <button type="submit">Salvar Funcionário</button>
    </form>

    <br>
    <a href="{{ url_for('listar_funcionarios') }}">Cancelar</a>
{% endblock %}